@tailwind base;
@tailwind components;
@tailwind utilities;

/* Color variable declarer  */
@layer base {
  :root {
    --color-primary-base: #8e4fae;
    --color-primary-muted: #f1f1f1;
    --color-secondary-base: #e8292f;
    --color-info-base: #106bda;
    --color-info-muted: #b5d1f4;
    --color-warning-base: #e4a11b;
    --color-danger-base: #ce3426;
    --color-success-base: #157f40;
    --color-neutral-base: #444444;
    --color-neutral-muted: #767676;
    --color-black-base: #1e232c;
    --color-black-muted: #4b4f56;
  }
}

@layer components {
  .container {
    @apply max-w-[1440px] w-full mx-auto px-5 md:px-20;
  }
  .social-icons {
    @apply size-10 rounded-lg bg-primary-muted text-primary-base hover:bg-primary-base hover:text-primary-muted duration-200 p-2;
  }
}

/* section title */
.section-heading::before,
.section-heading::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #d6bcfa;
  top: 50%;
  transform: translateY(-50%);
}

.section-dash {
  width: 45px;
  height: 5px;
  border-radius: 8px;
}

.section-dot {
  width: 8px;
  height: 5px;
  border-radius: 8px;
}

/* list style  */
.list-white::marker {
  color: #f1f1f1;
}

/* swiper custom bullets design  */

.swiper-pagination {
  bottom: 0px !important;
}

.swiper-pagination-bullet {
  margin-top: 40px !important;
  width: 12px !important;
  height: 8px !important;
  background-color: #ad7cc5 !important;
  border-radius: 16px !important;
}

.swiper-pagination-bullet-active {
  width: 24px !important;
  background-color: #8e4fae !important;
}

/* Custom Navigation Arrows */

.swiper-button-prev,
.swiper-button-next {
  height: 40px !important;
  width: 40px !important;
  padding: 5px;
  font-size: 10px;
  background-color: #8e4fae;
  color: white !important;
  border-radius: 50%;
  z-index: 50px;
}
.swiper-button-prev ::after,
.swiper-button-prev ::before,
.swiper-button-next ::after,
.swiper-button-next ::before {
  font-size: 5px;
  color: black;
}
